@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
  color: #384047;
  background-image: url(./bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 30vw;
  height: 80vh;
   margin-top: 10vh;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #242525;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 5px;
   font-family: "Roboto", sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
   font-family: "Roboto", sans-serif;
}

select {
  padding: 6px;
  height: 40px;
  border-radius: 2px;
}

#publish {
  padding: 19px 39px 18px 39px;
  color: #fff;
  text-shadow: 1px 1px black;
  background-color: #d82222;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #f70101;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
   font-family: "Roboto", sans-serif;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  margin-top: 10px;
  font-weight: 300;
  display: inline-block;
  margin-right: 30px;
}

.number {
  background-color: #ce2525;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.form-wrapper {
  max-width: 35%;
}


.form-wrapper h1 {
 background-color: #d82222;
 color: white;
 text-shadow: 2px 2px black;
 padding: 5px 0px;
 border-radius: 5px;
  font-family: "Roboto", sans-serif;
}


.table-wrapper {
  margin-left: 10vw;
  width: 50vw;
margin-top: 14vh;
}

table {
  width: 100%;
  table-layout: fixed;
  background-color: rgb(255, 255, 255);
}

.tbl-header {
  background-color: #f4f7f8;
  color: black;
  border-radius: 10px 10px 0px 0px;
  margin-top: 10px;
  height: 70px;
}
.tbl-content {
  overflow-x: auto;
  margin-top: 0px;
  border: 3px solid #f4f7f8;
  border-radius: 0 0 10px 10px;
}
th {
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
  color: black;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 15px;
  color: rgb(78, 75, 75);
  font-style: italic;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

tr {
  height: 70px;
  border-bottom: 2px solid #f4f7f8;
}

.action-btn {
  height: 25px;
  width: 80px;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #ec1c1c;
  color: white;
}

p {
  margin-top: 35px;
  font-size: 23px;
  font-style: italic;
  font-weight: 700;
  color: rgb(78, 75, 75);
  text-align: center;
}

#sold-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
}

#title-bar {
  background-color: #f4f7f8;
  text-align: center;
  height: 40px;
  color: black;
  padding-top: 7px;
  font-size: 21px;
  font-style: italic;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(218, 134, 138);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

#nav > span {
  margin: 10px;
  width: 30%;
  max-width: 33%;
  text-align: center;
  font-weight: 900;
}

.each-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.each-list > span {
  margin: 10px;
  width: 30%;
  max-width: 33%;
  text-align: center;
  font-weight: 550;
  color: rgb(78, 75, 75);
  margin-right: 10px;
}

ul {
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }

  form {
    max-width: 500px;
  }

  .form-wrapper {
    max-width: 100%;
    width: 90%;
  }

  .table-wrapper {
    max-width: 100%;
    width: 90%;
  }
}
#prf-paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  font-size: 36px;
  color: rgb(36, 206, 59);
  text-shadow: 2px 2px black;
}
